header {
    background-color: white;
    max-height: 300px;
    min-height: 100px;
    padding-bottom: 30px;
}

header img {
    height: 70px;
    width: 70px;
    margin-top: 10px;
    margin-bottom: 2px;
    border: solid white 5px;
    border-radius: 5%;
}

header h1 {
    margin-left: 25%;
    margin-right: 25%;
    color: black;
    font-size: 42px;
    text-align: center;
}

header {
    text-align: center;
}

body {
    color: black;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
}

h2 {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

h3 {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

h4 {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

p {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}


}
a {
    font-weight: bold;
    color: #BDCCC7;
}
a:hover {
    color: #FFC457;
}
.nav li {
    background-color: black;
    padding: 8px 8px;
    margin-bottom: 2%;
    width: 100%;
    color: black;
}
footer {
    width: 30%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.aboutsection {
    align-content: center;
}
.nav-wrapper {
    background-color: white;
    border-style: none;
    border-bottom: none;
}
.nav-wrapper li a {
    color: black !important;
}

.nav ul li {
    background-color: white !important;
}
h1 {
    margin: 0;
    margin-top: 5%;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
h4 {
    margin: 0;
}
.logoimg {
    position: absolute;
    padding: 5px;
    width: 100%;
}

.responsive-image {
    align-content: center;
    max-width: 600px;
    margin-left: 20%;
}
